/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(to bottom, #4d4d4d, #464553, #3b3e59, #29385f, #003366);
  color: #ffffff;
  margin: 0;
  padding: 0;
  height: 100%;
}